
.vs/Controle-de-Equipamentos/v16/.suo
.vs/Controle-de-Equipamentos/v16/.suo
.vs/Controle-de-Equipamentos/v16/.suo
Controle-de-Equipamentos/bin/Debug/Controle-de-Equipamentos.exe
*.pdb
*.exe
*.exe
*.pdb
.vs/Controle-de-Equipamentos/v16/.suo
